!output/
output/*

!output/RequiredModules
output/RequiredModules/*

!output/RequiredModules/ProtectedData
!output/RequiredModules/ProtectedData/*
!output/RequiredModules/ProtectedData/4.2.0

!output/RequiredModules/DscBuildHelpers
output/RequiredModules/DscBuildHelpers/*
!output/RequiredModules/DscBuildHelpers/0.3.0
